<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="ftpHost" value="192.168.1.23"/>
    <add key="ftpUsername" value="trungnt"/>
    <add key="ftpPassword" value="admin123"/>
    <add key="ftpServerFolder" value="TemplateBaoCao"/>
    <add key="ftpClientRootFolder" value="E:\\Repository\\qOffice\\Ky_So\\Release\\eoffice-qn-kyso\\eoffice-qn-kyso.App\\bin\\Debug\\"/>
    <add key="ftpClientFolder" value="SignedFolder"/>
    
    <add key="urlBaseFileApi" value="https://dev-file-qn.eoffice.greenglobal.vn"/>
    <add key="urlBaseHoSoCongViecApi" value="https://dev-api-qn.eoffice.greenglobal.vn/ho-so-cong-viec/"/>
    <add key="urlBaseVanBanDiApi" value="https://dev-api-qn.eoffice.greenglobal.vn/van-ban-di/"/>
    <add key="urlBaseHeThongApi" value="https://dev-api-qn.eoffice.greenglobal.vn/he-thong"/>

    <add key="registryName" value="qOffice-ky-so"/>
    
  </appSettings>
</configuration>